@model IEnumerable<Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Ваши контакты</h1>


<div id="contacts_list">    
    @foreach (var item in Model) {
        <div class="contact_block">
            <div class="contact_icons_control">
                <i class="contact_edit fas fa-user-edit"></i>
                <i class="contact_delete fas fa-trash"></i>
            </div>
            <span class="contact_id">@Html.DisplayFor(modelItem => item.Id)</span>
            <div class="contact_name">@Html.DisplayFor(modelItem => item.Name)</div>
            
            <a class="contact_phone" href="tel:0000">@Html.DisplayFor(modelItem => item.MobilePhone)</a>
            <ul class="add_info_block">
                <li class="contact_job">@Html.DisplayFor(modelItem => item.JobTitle)</li>
                <li class="contact_birth">@Html.DisplayFor(modelItem => item.BirthDate)</li>
            </ul>
            <div class="more_info">
                <div class="box_more">
                    <div class="more">
                        Развернуть
                        <img src="images/icons/vnis_new.svg" alt="">
                    </div>
                    <div class="less">
                        Свернуть
                        <img src="images/icons/vverh_new.svg" alt="">
                    </div>
                </div>						
            </div>
        </div>
    }
</div>
<div class="button edit">
    Редактировать
</div>
<div class="button delete">
    Удалить
</div> 
<p>
    <a asp-action="Create">Добавить еще</a>
</p>